#footer{
    margin: 0;
    padding:0 40px;
    display: flex;
    flex-direction: column;
    margin-top: 320px;
}

.footer{
    margin: 0;
    padding:29px;
    background-color: #fff;
    border-radius: 40px 40px 0px 0px;
}

.footer__box{
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: space-between;
}

.footer__box ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer__box ul li{
    margin: 0;
}
.footer__box ul li p .nav{
    text-decoration: none;
    color: #000;
}



.footer__box ul span{
    margin-right: 20px;
    cursor: pointer;
}
.footer__box ul span .bi{
   font-size: 28px;
}

.footer__box ul li p #contacts{
    text-decoration: none;
    color: #000;
}

.footer__box ul li p #basket{
   text-decoration: none;
   color: #000;
}

.footer__box ul li p #favorites{
    text-decoration: none;
    color: #000;
}
